Incident Report in the Auricdefence.json
{
  "name": "Incident Report in the Auricdefence",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Auricdefence-report",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -608,
        -880
      ],
      "id": "83645086-ca3a-4deb-8934-812281ddb3b7",
      "name": "Webhook",
      "webhookId": "0ec3e681-a92c-453e-a908-9f01ba803f79"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Role:\nYou are a cybersecurity incident response AI assistant. You specialize in analyzing incident reports and suggesting practical mitigation steps.\n\nGoal:\n\nClassify the reported incident into one of the following types:\nPhishing, Malware, Ransomware, DDoS, SQL Injection, Insider Threat, Data Breach, Brute Force Attack, Other.\n\nSuggest a small, simple, and actionable solution/mitigation plan that the user can understand.\nInstructions:\n\nRead the input fields carefully:\n \nincident_type:{{ $json.body.incident_type }}, \nseverity:{{ $json.body.severity }}, \ndescription:{{ $json.body.description }}.\nDetect the most accurate incident_type_detected based on the description.\n\nSuggest a concise ai_solution that is easy for a user to understand.\n\nRemove any unnecessary symbols, JSON formatting, or special characters.\n\nOutput the result as plain text message.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -384,
        -880
      ],
      "id": "048251b8-f89b-4628-9bbf-87fead63a98f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -312,
        -656
      ],
      "id": "e6da532b-6d58-461f-8e12-9d75a25c1a80",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jVChSvOcwwUBC2Js",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app4c1ivzpO26rI82",
          "mode": "list",
          "cachedResultName": "Incident Reporting",
          "cachedResultUrl": "https://airtable.com/app4c1ivzpO26rI82"
        },
        "table": {
          "__rl": true,
          "value": "tblMFezaig9jms286",
          "mode": "list",
          "cachedResultName": "Incidents",
          "cachedResultUrl": "https://airtable.com/app4c1ivzpO26rI82/tblMFezaig9jms286"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Incident Type": "={{ $('Webhook').item.json.body.incident_type }}",
            "Severity Level": "={{ $('Webhook').item.json.body.severity }}",
            "Description": "={{ $('Webhook').item.json.body.description }}",
            "Reporter Name": "={{ $('Webhook').item.json.body.reporter_name }}",
            "Reporter Email": "={{ $('Webhook').item.json.body.reporter_email }}",
            "Status": "Pending Review",
            "AI Solution Suggested": "={{ $json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Incident Type",
              "displayName": "Incident Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Severity Level",
              "displayName": "Severity Level",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Low",
                  "value": "Low"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "High",
                  "value": "High"
                },
                {
                  "name": "Critical",
                  "value": "Critical"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "AI Solution Suggested",
              "displayName": "AI Solution Suggested",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reporter Name",
              "displayName": "Reporter Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reporter Email",
              "displayName": "Reporter Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending Review",
                  "value": "Pending Review"
                },
                {
                  "name": "approved",
                  "value": "approved"
                },
                {
                  "name": "Rejected",
                  "value": "Rejected"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -32,
        -880
      ],
      "id": "e703eedd-de67-4b59-868f-1fccbe9978c8",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "bK534LTIuNweRIW9",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app4c1ivzpO26rI82",
          "mode": "list",
          "cachedResultName": "Incident Reporting",
          "cachedResultUrl": "https://airtable.com/app4c1ivzpO26rI82"
        },
        "table": {
          "__rl": true,
          "value": "tblMFezaig9jms286",
          "mode": "list",
          "cachedResultName": "Incidents",
          "cachedResultUrl": "https://airtable.com/app4c1ivzpO26rI82/tblMFezaig9jms286"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "={{ $json.data.Status }}",
            "id": "={{ $('Create a record').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Incident Type",
              "displayName": "Incident Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Severity Level",
              "displayName": "Severity Level",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Low",
                  "value": "Low"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "High",
                  "value": "High"
                },
                {
                  "name": "Critical",
                  "value": "Critical"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "AI Solution Suggested",
              "displayName": "AI Solution Suggested",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reporter Name",
              "displayName": "Reporter Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Reporter Email",
              "displayName": "Reporter Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pending Review",
                  "value": "Pending Review"
                },
                {
                  "name": "Approved",
                  "value": "Approved"
                },
                {
                  "name": "Rejected",
                  "value": "Rejected"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        640,
        -880
      ],
      "id": "144418d6-4a34-4834-aa82-4e57132fa336",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "bK534LTIuNweRIW9",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09BSNA9S4S",
          "mode": "list",
          "cachedResultName": "cybersecurity-team"
        },
        "text": "=🚨 New Incident Report 🚨\n{{ $json.id }}\n{{ $json.fields['Incident Type'] }}\n{{ $json.fields['Severity Level'] }}\n{{ $json.fields.Description }}\n{{ $json.fields['AI Solution Suggested'] }}\n{{ $json.fields['Reporter Name'] }}\n{{ $json.fields['Reporter Email'] }}\n{{ $json.fields.Status }}\n👉 Cybersecurity Team: Please reply with \"Approved\" or \"Rejected\"",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        192,
        -880
      ],
      "id": "18944946-2b5d-4b25-a209-1004d111bb4f",
      "name": "Send a message",
      "webhookId": "a7c848a7-2b94-4b60-b2f2-fbb42ba7c43c",
      "credentials": {
        "slackOAuth2Api": {
          "id": "7bPVffH2wLa9UY2v",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09BSNA9S4S",
          "mode": "list",
          "cachedResultName": "cybersecurity-team"
        },
        "message": "={{ $('Create a record').item.json.fields['Incident Type'] }}\n{{ $('Create a record').item.json.fields['Severity Level'] }}\n{{ $('Create a record').item.json.fields.Description }}\n{{ $('Create a record').item.json.fields['AI Solution Suggested'] }}\nplease Response to the Attack ",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "=Status",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Approved"
                  },
                  {
                    "option": "Rejected"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        416,
        -880
      ],
      "id": "cd966a5d-56fb-46d1-9448-166e023c2e05",
      "name": "Send message and wait for response",
      "webhookId": "00df9307-a42a-4345-83e3-1ec059b1a2a4",
      "credentials": {
        "slackOAuth2Api": {
          "id": "7bPVffH2wLa9UY2v",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9e9b95e7-d816-4f15-9e32-b872f6969c38",
              "leftValue": "={{ $json.fields.Status }}",
              "rightValue": "Approved",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        864,
        -880
      ],
      "id": "9ef971b1-e0b5-4fb0-86be-7be5787c618c",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Update record').item.json.fields['Reporter Email'] }}",
        "subject": "Solution for Incident",
        "emailType": "text",
        "message": "={{ $('Update record').item.json.fields['Incident Type'] }}\n\n{{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1472,
        -896
      ],
      "id": "d82bdea4-e1b8-4903-a816-c8e115befdae",
      "name": "Send a message1",
      "webhookId": "60b28379-3943-4d1e-b11a-bea2804ff0f1",
      "credentials": {
        "gmailOAuth2": {
          "id": "G5MszwUd7HBoQUhQ",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Role: AI Assistant\nGoal: Convert the following AI Solution Suggested text into correct English and produce a clear, concise message. Remove all JSON formatting and special characters.\n\nInput:\n{{ $json.fields['AI Solution Suggested'] }}\n\nInstructions:\n- Remove brackets, quotes, or any special characters.\n- Rewrite the content in professional, readable English.\n- Output as plain text ready to send.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1104,
        -896
      ],
      "id": "827fdc59-04f8-4190-8c64-b3cc94432104",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1160,
        -656
      ],
      "id": "8140e601-224b-4a98-b2e1-765a94ce0e85",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "jVChSvOcwwUBC2Js",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3fd3ea46-93c0-4344-9193-2757918c0bfa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dbb571706ff6c11fee7a3f44a19faa41daa69d631e5b1a324aaced8a2a03e780"
  },
  "id": "AxWS7eTa4hmGreCX",
  "tags": []
}